@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    font-family: "Poppins", sans-serif;
}

/* Navbar Section CSS Code  */
/* Start ----> */
#nav-app-title
{
    color: red;
    font-size: 2rem;
}

#nav-title-span{
    color: black;
}

.navbar-outer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#nav-ul-list
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#nav-ul-list li{
    margin-left: 20px;
    list-style: none;
}

#nav-ul-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-cart-log-btn button{
    margin-left: 30px;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    background: rgba(235, 70, 5, 0.841);
    cursor: pointer;
}

.nav-cart-log-btn button a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.nav-cart-log-btn 
{
    display: flex;
}

.nav-cart-log-btn i
{
    font-size: 24px;
    margin-top: 10px;
}

/* END ---->  */

/* Section-2 */
.main-title-heading
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-heading h1
{
    font-size: 2.5rem;
    font-weight: 500;
}

/* Section-3 */
.category-selection
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-selection a{
    padding: 10px 20px;
    background: rgb(173, 171, 171);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

/* section-4 */
.menu-item-display
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-top: 0;
  }
  
  .card-text {
    margin-bottom: 20px;
  }
  
  .price-to-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

footer{
    background-color: antiquewhite;
}

/* Footer  */